extends layout
block content
	.container
		table.table.table-striped
			thead
				tr
					th ID 
					th Name 
					th Email 
					th Mobile 
					th Role 
					th Created
			tbody
				each u in users
					tr
						td=u.id
						td=u.name
						td=u.email
						td=u.mobile
						td=u.role
						td=u.dateCreated