extends layout
block head
	link(href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.0/fullcalendar.min.css", rel="stylesheet")
block content
	.container-fluid
		.row
			.col-md-3
				p 
					a(href="/challenges/#{challenge.id}") Back to Challenge
				ul#participants.list-group
					each p in challenge.players
						li.list-group-item(class=p.userId == user.id ? 'active':'')
							a(href="#candos-#{p.userId}", id="player-#{p.id}")
								.rank=p.rank
								//- .player-max
								//- 	.num=Math.floor(p.maxPossiblePercent*100)
								//- 	.max max
								//- .player-num=Math.floor(p.totalPercent*100)
								h4.list-group-item-heading=p.name
								p.list-group-item-text=p.canDos.length + ' Can Do\'s @ ' + p.hoursPerWeek + ' hr/week'
			.col-md-9
				#calendar
block scripts
	script(type="text/javascript").
		var challengeId = "#{challenge.id}";
	script(src="/scripts/moment.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.0/fullcalendar.min.js")
	script(src="/scripts/app-calendar.js")