extends layout
block content
	.container
		h2 Candooli Challenges
		.list-group
		each c in challenges
			.list-group-item
				.row
					.col-md-6
						a(href="/challenges/#{c.id}")
							h4.list-group-item-heading=c.name
							p.list-group-item-text='You rank ' + c.players[c.userIx].rank + ' out of ' + c.players.length
					.col-md-6
						a.btn.btn-default.pull-right(href="/challenges/#{c.id}") View