extends layout
block head 
	link(href="/css/bootstrap-datepicker.css", rel="stylesheet")
block content
	div.container-fluid
		.row
			.col-md-6
				hgroup.main
					if (challenge.startDate <= new Date())
						div(style="width:50px;height:50px;margin-right:12px;float:left;background-color:silver;text-align:center;line-height:50px;font-size:30px")=challenge.daysRemaining
					h2=challenge.name
					if (challenge.startDate < new Date())
						h3 Ends in #{challenge.weeksRemaining} weeks (#{challenge.daysRemaining} days)
					else if (challenge.daysRemaining == 1)
						h3 Starts tomorrow!
					else
						h3 Starts in #{challenge.daysRemaining} days
			.col-md-6(style="padding-top:20px;")
				a.btn.btn-default.btn-lg.pull-right(style="margin-left:6px;", data-toggle="modal", data-target="#modal-nocandos")
					span.glyphicon.glyphicon-question-sign
				if (challenge.ownerUserId == user.id)
					button.btn.btn-lg.btn-default.pull-right(style="margin-left:6px;",data-toggle="modal", data-target="#modal-editchallenge") Edit Challenge 
				a.btn.btn-default.btn-lg.pull-right(style="margin-left:6px;",href="/challenges/#{challenge.id}/calendar") Done It Calendar
				if (challenge.status == 'In progress')
					button.btn.btn-lg.btn-default.pull-right(style="margin-left:6px;", data-toggle="modal" data-target="#modal-doneit") Add Done It
				if (challenge.status == 'Pending')
					button.btn.btn-lg.btn-default.pull-right(style="margin-left:6px;", data-toggle="modal" data-target="#modal-cando") Add Can Do
				
		.row.hidden
			.alert.alert-warning this is some warning / alert text
		.row
			.col-md-5
				h3 Participants
				ul#players.list-group(role="tablist")
					each p in challenge.players
						li.list-group-item(id="pl-#{p.userId}", data-rank=p.rank, class=p.userId == user.id ? 'active':'')
							a(href="#candos-#{p.userId}", role="tab", data-toggle="tab")
								.rank.hastooltip(id="rank-#{p.userId}",title="Current Rank in the Challenge", data-toggle="tooltip")=p.rank
								.player-max.hastooltip(title="Maximum points that can be achieved", data-toggle="tooltip")
									.num=Math.floor(p.maxPossiblePercent*100)
									.max max
								.player-num.hastooltip(id="tp-#{p.userId}", title="Player's current score", data-toggle="tooltip")=Math.floor(p.totalPercent*100)
								h4.list-group-item-heading=p.name
								p.list-group-item-text=p.canDos.length + ' Can Do\'s @ ' + p.hoursPerWeek + ' hr/week'
				if (challenge.startDate >= new Date())
					.form-group
						label(for="invite") Invite 
						input(type="text", id="invite", class="form-control", placeholder="Email or mobile")
					button.btn.btn-default#btn-invite Invite

				ul.list-group 
					each inv in invites
						li.list-group-item 
							p.list-group-item-text=inv.status + ': ' + inv.invitedBy.name + ' invited ' + (inv.email ? inv.email : inv.mobile ? inv.mobile : '')
							//-h4.list-group-item-heading='Invited: ' + (inv.email ? inv.email : inv.mobile ? inv.mobile : '')
							//-p.list-group-item-text='From: ' + inv.invitedBy.name

			.col-md-4
				#candos.tab-content 
					each p in challenge.players
						.tab-pane(id="candos-#{p.userId}", class="#{p.userId == user.id ? 'active':''}")
							h3 Can Do List - #{p.name}
							ul.list-group(id=p.userId == user.id ? "canlist" : "canlist" + p.userId)
								if (p.canDos.length == 0)
									li.list-group-item.none
										p No Can Do's yet.  
										if (p.userId == user.id) 
											p Start adding them now!

								each can in p.canDos
									li.list-group-item(id="cando-#{can.id}")
										.cando-num.hastooltip(class=(can.currentDoneItCount == can.frequency ? 'complete' : (can.currentDoneItCount > 0 ? 'inprogress':'')), title="Number of times the Can Do has been done (Done It) this week or day", data-toggle="tooltip")=can.currentDoneItCount
										if (p.userId == player.userId)
											div.pull-right(style="width:40px;")
												div 
													a(class="edit-cando", data-candoid=can.id, data-description=can.description, data-frequency=can.frequency, data-frequencytype=can.frequencyType, data-minutes=can.minutes, href="javascript:void(0)") Edit
												div 
													a(class="delete-cando", data-candoid=can.id, href="javascript:void(0)") Delete
										h4.list-group-item-heading=can.description 
										p.list-group-item-text for 
											b #{can.minutes} 
											| minutes 
											b #{can.frequency} 
											| times per 
											b #{can.frequencyType}
							if (p.userId == user.id)
								p
									button.btn.btn-success(data-toggle="modal" data-target="#modal-cando") Add Can Do
			.col-md-3.activity
				h3 Recent Activity
				if activity.length == 0
					p None in the last 7 days
				- var daytext = '';
				- for (var i=0;i<activity.length;i++){
					- if (daytext != activity[i].dateText) {
						div.divider=activity[i].dateText
						- daytext = activity[i].dateText;
					- }
					div=activity[i].description
				- }
	
	#modal-cando.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4.modal-title Can Do
				.modal-body
					.row
						.col-md-3
							span Your Goal 
						.col-md-1
						.col-md-2
							span Minutes
						.col-md-1
						.col-md-2
							span Frequency
						.col-md-1
						.col-md-2
							span 
					.row
						.col-md-3
							input#cando-description.form-control.typeahead(placeholder="Description")
						.col-md-1.divider
							span for 
						.col-md-2
							input#cando-minutes.form-control(placeholder="Min.")
						.col-md-1.divider
							span X
						.col-md-2
							input#cando-frequency.form-control(placeholder="Frequency")
						.col-md-1.divider
							span per 
						.col-md-2
							select#cando-frequencytype.form-control
								option(value="day") Day
								option(value="week") Week 
				.modal-footer
					button#btn-cando-cancel(type="button", class="btn btn-default", data-dismiss="modal") Close
					button#btn-cando-save(type="button", class="btn btn-primary") Save
	#modal-nocandos.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4.modal-title About Candooli Challenge
				.modal-body
					p A Candooli Challenge is fun and easy to do.  Just enter your goals and then tell us when you have done it.
					h3 Can Do's = Goals 
					p We call a goal, a Can Do.  Why because we like how it sounds and want you to remember that "You CAN DO it".
					h3 Done It 
					p A 
						b Done It 
						| is simply when you have done something.  It is how we keep track of your progress.
					h3 Example
					p I have a Can Do, it is to 
						b Workout for 45 minutes 3 times per week.
					p Each time I workout (I've done it), I enter it into Candooli 
					p It is really that simple.  Then you can also check in on the other challengers, to trash talk or provide encouragement.

				.modal-footer
					button(type="button", class="btn btn-default", data-dismiss="modal") OK, Got It
	if (challenge.ownerUserId == user.id)
		#modal-editchallenge.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button(type="button", class="close", data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Edit Challenge
					.modal-body
						form#challenge.form-horizontal.section
							.form-group
								label.col-sm-4(for="challenge-name") Challenge Name
								div.col-sm-8
									input.form-control(type="text", name="challenge-name", id="challenge-name", placeholder="Give your challenge a name or slogan", value=challenge.name)
							.form-group
								label.col-sm-4(for="challenge-start") Start Date
								.col-sm-8
									input.form-control(type="text", name="challenge-start", id="challenge-start", placeholder="Start date (best to start on Sunday or Monday.", value=(challenge.startDate.getMonth()+1) + '/'+challenge.startDate.getDate() + '/' + challenge.startDate.getFullYear())
									span.text-muted We strongly urge you to start on a Sunday
							.form-group
								label.col-sm-4(for="duration") Duration 
								div.col-sm-8
									select.form-control(name="challenge-duration", id="challenge-duration")
										- for (var i=1;i<13;i++){
											option(value="#{i}")=i+ ' ' + (i==1?'Week':'Weeks')
										- }
					.modal-footer
						button(type="button", class="btn btn-default", data-dismiss="modal") Close
						button#btn-challenge-save(type="button", class="btn btn-primary") Save
	#modal-doneit.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4.modal-title Add Done It
				.modal-body
					
						.form-group
							label(for="di-cando") Can Do 
							select#di-cando.form-control
								each can in player.canDos 
									option(value="#{can.id}")=can.description
						.form-group
							label(for="di-date") Date 
							select#di-date.form-control
								each d in doneItDates
									option(value=d.value)=d.text
						//- ul.nav.nav-pills
						//- 	each d in doneItDates
						//- 		li 
						//- 			a(data-value=d.value)=d.text
						//- .form-group
						//- 	label(for="di-date") Date 
						//- 	input#di-date.form-control(type="text",placeholder="MM/DD/YYYY")
						//- .btn-group
						//- 	each d in doneItDates
						//- 		button.btn.btn-default.di-date(data-value=d.value)=d.text
						.form-group
							label(for="di-minutes") Minutes 
							input#di-minutes.form-control(type="number")
						.form-group
							label(for="di-note") Note 
							input#di-note.form-control(type="text",placeholder="Notes or comment")

				.modal-footer
					button(type="button", class="btn btn-default", data-dismiss="modal") Close
					button#btn-di-add(type="button", class="btn btn-primary") Add It






block scripts
	script(src="/scripts/bootstrap-datepicker.js")
	script(type="text/javascript").
		var challengeId = "#{challenge.id}";
	script(src="/scripts/app-challenge.js")