extends layout
block content
	.container
		ul#tab-steps(class="nav nav-tabs" role="tablist")
			li.active
				a(href="#tab-candos", role="tab", data-toggle="tab") Step 1 - Create your list 
			li 
				a(href="#tab-challenge", role="tab", data-toggle="tab") Step 2 - Challenge setup
			li 
				a(href="#tab-invites", role="tab", data-toggle="tab") Step 3 - Invite your co-challengers
		div.tab-content
			.tab-pane.fade.in.active(id="tab-candos")
				.row
					.col-md-8
						hgroup.main
							h2 What's Your Can Do List?
							h3 Your list of goals, achievables, to-do's, wishes, desires, etc.
						p Example: I want to 
							b Workout 
							| for  
							b 45 
							| minutes  
							b 3 
							| times per  
							b Week 
						#addcando.form
							.row
								.col-md-3
									span Your Goal 
								.col-md-1
								.col-md-1
									span Minutes
								.col-md-1
								.col-md-2
									span Frequency
								.col-md-1
								.col-md-2
									span 
							.row
								.col-md-3
									input#cando-description.form-control.typeahead(placeholder="Description")
								.col-md-1.divider
									span for 
								.col-md-1
									input#cando-minutes.form-control(placeholder="Min.")
								.col-md-1.divider
									span X
								.col-md-1
									input#cando-frequency.form-control(placeholder="Frequency")
								.col-md-1.divider
									span per 
								.col-md-2
									select#cando-frequencyType.form-control
										option(value="day") Day
										option(value="week") Week 
								.col-md-2.text-center
									button#btn-addcando(class="btn btn-primary") Add
						.row
							.col-md-8
								.panel.panel-default.section
									.panel-heading My List For the New Challenge
									.panel-body
										ul#candos.list-group
											li.none.list-group-item
												h4.list-group-item-heading None yet
												p.list-group-item-text enter in your first Can Do above
							.col-md-4
								#cando-stats.section
									p Hey, nice work you are up to 4.3 hours/week.
							//- .col-md-4.static-popover
							//- 	.popover.right
							//- 		.arrow
							//- 		h3.popover-title Total List Stats
							//- 		.popover-content 
							//- 			#candostats 4.3 hours/week, that's 3.8% of your time needed to meet your goals.
							//- 				p Nice Work!

						.row
							button#btn-step1.pull-right(class="btn btn-success btn-lg") Continue
					.col-md-4
						h2 Previous CanDo's
						ul.list-group
							each can in canDos
								li.list-group-item
									a(id="prevcando--#{can.id}", href="javascript:void(0)")
										h4.list-group-item-heading=can.description 
										p.list-group-item-text for #{can.minutes} minutes #{can.frequency} times per #{can.frequencyType}
				
			.tab-pane.fade(id="tab-challenge")
				h2 How about some quick info about your Challenge
				.row
					.col-md-8
						form#challenge.form-horizontal.section
							.form-group
								label.col-sm-4(for="name") Challenge Name
								div.col-sm-8
									input.form-control(type="text", name="name", id="name", placeholder="Give your challenge a name or slogan")
							.form-group
								label.col-sm-4(for="start") Start Date
								.col-sm-8
									input.form-control(type="text", name="start", id="start", placeholder="Start date (best to start on Sunday or Monday.")
									span.text-muted We strongly urge you to start on a Sunday
							.form-group
								label.col-sm-4(for="duration") Duration 
								div.col-sm-8
									select.form-control(name="duration", id="duration")
										- for (var i=1;i<13;i++){
											option(value="#{i}")=i+ ' ' + (i==1?'Week':'Weeks')
										- }
						div 
							button#btn-step2(class="btn btn-lg btn-success") Continue
			.tab-pane.fade(id="tab-invites")
				h2 Invite your challengers
				.row.section
					.col-md-2
						b Email or Mobile 
					.col-md-4
						input.form-control(type="text", id="invite", placeholder="user@company.com or 4155551212")
					.col-md-6
						button.btn.btn-default#btn-invite Add
				.row
					div.section
						h4 Invite List
						#invitelist.list-group 
					div.section
						button#btn-finish(class="btn btn-lg btn-success") Finish
						
block scripts
	script(src="/scripts/typeahead.js")
	script(src="/scripts/bootstrap-datepicker.js")
	script(src="/scripts/new-challenge.js")
					
