extends layout

block content
	if user == undefined
		.jumbotron
			.container
				h1 Achieve more of the things you just think about doing
				p Candooli.com is an easy and fun way to challenge yourself to achieve or accomplish goals (small and large), tasks, chores, want to-dos, etc. 
		.container
			.row
				.col-md-6
					h2 How Does It Work?
					.list-group
						.list-group-item 1. Goals - Enter in your goals or things you want to do 
						.list-group-item 2. Challenge - Challenge your friends, colleagues or family to enter their own goals
						.list-group-item 3. Track It - Tell Candooli, when you have done something
						.list-group-item 4. Compete - Check the app each day to see how you are doing against everyone
				.col-md-6
					h2 Why Should I Use Candooli?
					p One of the best ways to get something done is to plan it and create accountability.  By simply challenging another person, you are telling someone else that you are going to do something (accountability).  Then add some fun factor and competition and you'll be on your way.  It is amazingly simple.
				

			//- div.col-md-3
			//- 	div.panel.panel-default
			//- 		div.panel-heading Log In 
			//- 		div.panel-body.form-signin
			//- 			form(class="", role="form", action="/login", method="POST")
			//- 				input(type="email", name="username", class="form-control", placeholder="Email address", required, autofocus)
			//- 				input(type="password", name="password", class="form-control", placeholder="Password", required)
			//- 				div.checkbox
			//- 					label
			//- 						input(type="checkbox", value="remember-me") 
			//- 						| Remember me
			//- 				button(class="btn btn-lg btn-primary btn-block", type="submit") Log in
	else
		div.container
			div.row
				.col-md-6
					if userChallenges.length > 0 
						h2 Challenges
						.list-group
							each c in userChallenges
								.list-group-item
									.row
										.col-md-6
											a(href="/challenges/#{c.id}")
												h4.list-group-item-heading=c.name
												p.list-group-item-text='You rank ' + c.player.rank + ' out of ' + c.playerCount
										.col-md-6
											a.btn.btn-default.pull-right(href="/challenges/#{c.id}") View
					else
						p Get started now.
				.col-md-6
					h2 Invites
					.list-group 
						each i in invites 
							.list-group-item 
								a(href="/i/#{i.id}")
									h4.list-group-item-heading From: #{i.invitedBy.name}
									p.list-group-item-text Challenge: #{i.challenge.name}

