extends layout
block content
	.container
		.invite.center-block
			.row(style="text-align:center")
				h2 You've been challenged by #{invite.invitedBy.name}!
			.row(style="text-align:center")
				p The challenge is to accomplish your own goals in a friendly competition.  Below are #{invite.invitedBy.name}'s goals, now you choose your own and start doing the things you want to achieve.	
				p 
					a(href="#", data-toggle="modal", data-target="#modal-about") Read more
					span  about a Candooli Challenge

			.row.section
				.col-sm-6
					h3 #{invite.invitedBy.name}'s Goals
					p Shooting for #{invite.invitedBy.hoursPerWeek} hours/week
					ul.list-group
						each can in invite.canDos
							li.list-group-item
								h4.list-group-item-heading=can.description 
								p.list-group-item-text for 
									b #{can.minutes} 
									| minutes 
									b #{can.frequency} 
									| times per 
									b #{can.frequencyType}
				.col-sm-6
					div(style="padding-top:16px;")
						p
							if (user)
								a(href="/i/#{invite.id}/accept", class="btn btn-lg btn-success") Accept Challenge
							else
								a(href="#modal-regsign", class="btn btn-lg btn-success",  data-toggle="modal") Accept Challenge 
						p
							a(href="/i/#{invite.id}/decline") No Thanks, I'm not interested 
	.modal.fade#modal-about
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4 About Candooli
				.modal-body
					p Candooli...
				.modal-footer
					button(type="button", class="btn btn-default", data-dismiss="modal") Close
	.modal.fade#modal-regsign
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4 About Candooli
				.modal-body
					.row
						.col-sm-6
							h2 Log In
							form(class="", role="form", action="/login?inv=#{invite.id}", method="POST")
								if message
									p.alert.bg-danger Invalid Email / Password.
								input(type="email", name="username", class="form-control", placeholder="Email address", required, autofocus)
								input(type="password", name="password", class="form-control", placeholder="Password", required)
								div.checkbox
									label
										input(type="checkbox", value="remember-me") 
										| Remember me
								button(class="btn btn-lg btn-primary btn-block", type="submit") Log in
								div(style="padding-top:20px;")
									a(href="/forgotpassword") Forgot Password?
						.col-sm-6
							h2 Register
							form(action="/register?inv=#{invite.id}", method="POST", role="form")
								.form-group
									label(for="name") Name 
									input.form-control(type="text", name="name",id="name", placeholder="Full Name", value="#{user && user.name ? user.name : ''}")
								.form-group
									label(for="mobile") Mobile Phone 
									input.form-control(type="text", name="mobile",id="mobile", placeholder="Mobile Phone (Optional)", value="#{user && user.mobile ? user.mobile : ''}")
								.form-group
									label(for="username") Email 
									input.form-control(type="email", name="username",id="username", placeholder="Email Address", value="#{user && user.email ? user.email : ''}")
								.form-group
									label(for="password") Password 
									input.form-control(type="password", name="password",id="password", placeholder="Password")
								.form-group
									label(for="password2") Verify Password 
									input.form-control(type="password", name="password2",id="password2", placeholder="Verify Password")
								input(type="submit", class="btn btn-lg btn-primary btn-block", value="Register")
				.modal-footer
					button(type="button", class="btn btn-default", data-dismiss="modal") Close
	//- #modal-cando.modal.fade
	//- 	.modal-dialog
	//- 		.modal-content
	//- 			.modal-header
	//- 				button(type="button", class="close", data-dismiss="modal")
	//- 					span(aria-hidden="true") &times;
	//- 					span.sr-only Close
	//- 				h4.modal-title Can Do
	//- 			.modal-body
	//- 				.row
	//- 					.col-sm-3
	//- 						span Your Goal 
	//- 					.col-sm-1
	//- 					.col-sm-2
	//- 						span Minutes
	//- 					.col-sm-1
	//- 					.col-sm-2
	//- 						span Frequency
	//- 					.col-sm-1
	//- 					.col-sm-2
	//- 						span 
	//- 				.row
	//- 					.col-sm-3
	//- 						input#cando-description.form-control.typeahead(placeholder="Description")
	//- 					.col-sm-1.divider
	//- 						span for 
	//- 					.col-sm-2
	//- 						input#cando-minutes.form-control(placeholder="Min.")
	//- 					.col-sm-1.divider
	//- 						span X
	//- 					.col-sm-2
	//- 						input#cando-frequency.form-control(placeholder="Frequency")
	//- 					.col-sm-1.divider
	//- 						span per 
	//- 					.col-sm-2
	//- 						select#cando-frequencytype.form-control
	//- 							option(value="day") Day
	//- 							option(value="week") Week 
	//- 				p
	//- 					button#btn-addcando.btn.btn-success(role="button") Add Can Do (Goal) to your list
	//- 				.row
	//- 					.col-sm-6
	//- 						.list-group#candolist0
	//- 							- for (var i=0;i<4;i++)
	//- 								.list-group-item(id="cando-#{i}")
	//- 									h4.list-group-item-heading Empty
	//- 									p.list-group-item-text Goal ##{i+1}
	//- 					.col-sm-6
	//- 						.list-group#candolist1
	//- 							- for (var i=4;i<8;i++)
	//- 								.list-group-item(id="cando-#{i}")
	//- 									h4.list-group-item-heading Empty
	//- 									p.list-group-item-text Goal ##{i+1}
								

	//- 			.modal-footer
	//- 				//- button#btn-cando-cancel(type="button", class="btn btn-default", data-dismiss="modal") Close
	//- 				button#btn-cando-save(type="button", class="btn btn-primary", disabled="disabled") Continue
block scripts
	script(src="/scripts/app-invite.js")

