doctype html
html
	head
		title= title + ' : Candooli.com'
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		//- link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		//-link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
		block head
		link(rel='stylesheet', href='/css/style.css')
	body
		.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
			.container
				.navbar-header
					button.navbar-toggle.collapsed(data-toggle="collapse", data-target=".navbar-collapse")
						span.sr-only Toggle Navigation 
						span.icon-bar 
						span.icon-bar 
						span.icon-bar 
					a.navbar-logo(href="/")
						img(src="/images/logo-h100-dark.png",style="max-height:80px")
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						if !user
							li
								a.top(href="/register") Register
							li
								a.top(href="/login") Log In
						else
							li
								a.top(class="dropdown-toggle", data-toggle="dropdown") Challenges
									span(class="caret")
								ul(class="dropdown-menu", role="menu")
									li
										a(href="/challenges") List
									li
										a(href="/challenges/new") New Challenge
									li.divider
									if userChallenges != undefined
										each c in userChallenges
											li
												a(href="/challenges/#{c.id}")=c.name
							li 
								a.top(href="/users/#{user.id}")=user.name
									
							li
								a.top(href="/logout") Log Out
		block content
		script(src="/scripts/jquery-2.1.1.min.js")
		script(src="/scripts/bootstrap.min.js")
		//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		//- script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		block scripts
