doctype html
html
	head
		title= title + ' : Candooli.com'
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		link(rel='stylesheet', href='/css/style.css')
	body
		.login-panel
			.row
				.col-md-6
					a(href="/")
						img(src="/images/logo-icon_230.png")
				.col-md-6
					.panel.panel-default
						.panel-heading Candooli Log In 
						.panel-body.form-signin
							form(class="", role="form", action="/login", method="POST")
								if message
									p.alert.bg-danger Invalid Email / Password.
								input(type="email", name="username", class="form-control", placeholder="Email address", required, autofocus)
								input(type="password", name="password", class="form-control", placeholder="Password", required)
								div.checkbox
									label
										input(type="checkbox", value="remember-me") 
										| Remember me
								button(class="btn btn-lg btn-primary btn-block", type="submit") Log in
								div(style="padding-top:20px;")
									a(href="/forgotpassword") Forgot Password?
			
