extends layout
block head
	link(href="/css/bootstrapValidator.min.css",rel="stylesheet")
block content
	.container
		h2 #{user.name}
		if errors != undefined && errors.length > 0
			.alert.alert-danger=
				each m in errors
					p=m
		div.row
			div.col-md-4
				form.formval(action="/user/#{user.id}", method="PUT", role="form")
					.form-group
						label(for="name") Name 
						input.form-control(type="text", name="name",id="name", placeholder="Full Name", value="#{user && user.name ? user.name : ''}")
					.form-group
						label(for="mobile") Mobile Phone 
						input.form-control(type="text", name="mobile",id="mobile", placeholder="Mobile Phone (Optional)", value="#{user && user.mobile ? user.mobile : ''}")
					.form-group
						label(for="username") Email 
						input.form-control(type="email", name="username",id="username", placeholder="Email Address", value="#{user && user.email ? user.email : ''}")
					.form-group
						label(for="password") Password 
						input.form-control(type="password", name="password",id="password", placeholder="Password")
					.form-group
						label(for="password2") Verify Password 
						input.form-control(type="password", name="password2",id="password2", placeholder="Verify Password")
					input(type="submit", class="btn btn-lg btn-primary btn-block", value="Save Profile")
block scripts
	script(src="/scripts/bootstrapValidator.min.js")
	script(src="/scripts/app-user.js")