extends layout
block content
	.container
		if success 
			div(style="margin-top:120px")
				h3 Success, thank you.
		else
			if message
				.alert.alert-warning=message
			form.form-inline(action="/verifyMobile", method="POST")
				.row 
					h3 You should receive a text message with a 4 digit code.  Enter that code below.
				.row
					.form-group
						label(for="code") 4 Digit Code  
						input.form-control(type="number",id="code",name="code",style="margin:0 10px;")
					button.btn.btn-success(type="submit",style="margin:0 10px;") Verify Code  
