.navbar-brand,
.navbar-nav li a.top {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.navbar-logo {
float: left;
height:80px;
}

body > .container, body > .container-fluid {
padding: 90px 15px 0;
}
body > .jumbotron {
	padding-top:80px;
}

.section {
	margin-top:24px;
}

hgroup.main h3 {
	font-style: italic;
	font-size:1.2em;
	color:gray;
	margin-top:-10px;
}

#addcando .col-xs-1, #addcando .col-sm-1, #addcando .col-md-1, #addcando .col-lg-1, #addcando .col-xs-2, #addcando .col-sm-2, #addcando .col-md-2, #addcando .col-lg-2, #addcando .col-xs-3, #addcando .col-sm-3, #addcando .col-md-3, #addcando .col-lg-3, #addcando .col-xs-4, #addcando .col-sm-4, #addcando .col-md-4, #addcando .col-lg-4, #addcando .col-xs-5, #addcando .col-sm-5, #addcando .col-md-5, #addcando .col-lg-5, #addcando .col-xs-6, #addcando .col-sm-6, #addcando .col-md-6, #addcando .col-lg-6, #addcando .col-xs-7, #addcando .col-sm-7, #addcando .col-md-7, #addcando .col-lg-7, #addcando .col-xs-8, #addcando .col-sm-8, #addcando .col-md-8, #addcando .col-lg-8, #addcando .col-xs-9, #addcando .col-sm-9, #addcando .col-md-9, #addcando .col-lg-9, #addcando .col-xs-10, #addcando .col-sm-10, #addcando .col-md-10, #addcando .col-lg-10, #addcando .col-xs-11, #addcando .col-sm-11, #addcando .col-md-11, #addcando .col-lg-11, #addcando .col-xs-12, #addcando .col-sm-12, #addcando .col-md-12, #addcando .col-lg-12 {
	padding:0;
}

#addcando .divider {
	line-height: 34px;
	font-weight:bold;
	text-align: center;
}

.login-panel {
	max-width:600px;
	padding: 15px;
  	margin: 0 auto;
  	padding-top:150px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert {
	margin:0 0 10px;
	padding:15px;
}




.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.static-popover .popover {
position: relative;
display: block;
float: left;
width: 100%;
margin: 20px;
}


.invite {
	width:600px;
}

.rank {
	float:left;
	width:30px;
	height:40px;
	/*background-color:red;*/
	margin-right:10px;
	line-height:40px;
	font-size:24px;
	text-align:center;
	color:gray;
}
.active .rank {
	color:silver;
}
.cando-num {
	float:left;
	width:40px;
	height:40px;
	background-color:#F16745;
	margin-right:16px;
	line-height:40px;
	font-size:24px;
	text-align:center;
	color:#404040;
}
.cando-num.inprogress {
	background-color:#FFC65D;
}
.cando-num.complete {
	background-color:#7BC8A4;
}

.player-num {
	float:right;
	width:50px;
	height:40px;
	background-color:#93648D;
	
	line-height:40px;
	font-size:24px;
	text-align:center;
	color:white;
}
.player-max {
	float:right;
	width:40px;
	height:40px;
	margin-left:8px;
	text-align:center;
}
.player-max .num {
	line-height: 24px;
	font-size:20px;
}
.player-max .max {
	font-size:10px;
}

.list-group-item.active .list-group-item-heading
	, .list-group-item.active a:hover .list-group-item-heading
	, .list-group-item.active:focus .list-group-item-heading
	, .active .player-max {
	color: #e1edf7;
	text-decoration: none !important;

}

.activity .divider {padding:2px 10px;background-color:#e1e1e8;}


.cal-sm td {
	
}

